.booking-container{
    padding: 1rem;
    background-color: #ccc;
    width: 75%;
    height: 65%;
    margin: 5rem auto;
}
.type-list{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  gap:1rem;
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}
.type-item {
  padding: 0.5rem;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  cursor: pointer;
}

.type-item:hover {
  background-color: #aaa;
}

.type-item.active {
  background-color: #C28900;
  color: white;
}

.room-btn {
  width: 4rem;
  height: 4rem;
  margin: 8px;
  font-size: 2rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #002855;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.room-btn:hover {
  background-color: #01418a;
}
.room-btn.active {
  background-color: #C28900;
  color: white;
}


.floor-buttons,
.apartment-buttons {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.apartment-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.listed-apartments {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items:start;
  gap: 1rem;
}
.h3-txt{
  width:100%;;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
}


.apartment-buttons, .floor-buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
}
