*{
    scrollbar-width: none;
}
h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
    color: #ffffff;
}
.booking-container {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  width: 75%;
  height: 40rem;
  margin: 3rem auto;
}

.type-list {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}

.type-item {
  padding: 0.5rem;
  border-radius: 5px;
  user-select: none;
  transition: background-color 0.3s ease;
  font-size: 1.4rem;
  cursor: pointer;
}

.type-item:hover {
  background-color: #aaa;
}

.type-item.active {
  background-color: #C28900;
  color: white;
}

.room-btn {
  width: 3rem;
  height: 3rem;
  margin: 8px;
  font-size: 2rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #002855;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.room-btn:hover {
  background-color: #01418a;
}

.room-btn.active {
  background-color: #C28900;
  color: white;
}


.floor-buttons,
.apartment-buttons {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.apartment-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.listed-apartments {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.h3-txt {
  width: 100%;;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
}


.apartment-buttons,
.floor-buttons {
  height:70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}
.selected-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}
.selected-info p{
    font-size: 1.2rem;

}

@media screen and (max-width: 768px) {
  .booking-container {
    width: 90%;
    height: auto;
    margin: 2rem auto;
  }
  
  .type-list {
    justify-content: center;
    align-items: center;
    margin:2rem 0 -2rem 0
  }
  
  .room-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  
  .listed-apartments {
    flex-direction: column;
    align-items: center;
  }
  
  .apartment-buttons,
  .floor-buttons {
    width: 100%;
    justify-content: center;
  }
  
}